{% extends "layout.html" %}
   
{% block title %}
    Log In
{% endblock %}

{% block forms_title %}
    Log In
{% endblock %}
  <!-- Method: post action: /direction -->
  {% block main %}
  <form class="registration">
    <input type="text" placeholder="Nombre del paciente" name="nombrePaciente" required>
    <input type="text" placeholder="Edad del paciente" name="edadPaciente" required>
    <select name="Diagnostico" multiple required>
      <option disapled> Diagnostico</option>
      <option value="motriz">Motriz</option>
      <option value="social">Social</option>
      <option value="lenguaje">Lenguaje</option>
      <option value="neurologico">Neurológico</option>
      <option value="conductual">Conductual</option>
    </select>
  </form>
  {% endblock %}